h1 {
  text-align: center;
}

body {
  background-color: #af7595;
}
p {
  text-align: center;
}
a {
    color: #B0413E;
}
#footer {
  text-align: center;
}

#image {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
